
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.class
*.jar
/homework-mobile/01/01/META-INF/main.kotlin_module
/homework-mobile/01/02/META-INF/main.kotlin_module
/homework-mobile/01/03/META-INF/main.kotlin_module
/homework-mobile/01/04/META-INF/main.kotlin_module
/homework-mobile/01/05/META-INF/main.kotlin_module
/homework-mobile/01/06/META-INF/main.kotlin_module
/homework-mobile/02/01/META-INF/main.kotlin_module
/homework-mobile/02/02/META-INF/main.kotlin_module
/homework-mobile/03/01/META-INF/main.kotlin_module
/homework-mobile/03/02/META-INF/main.kotlin_module
/homework-mobile/03/03/META-INF/main.kotlin_module
/homework-mobile/03/04/META-INF/main.kotlin_module
